body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.menu {
    max-width: 800px;
    margin: 50px auto;
    background-color: #131212;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.filter-buttons button {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    background-color: #555353;
}

